/* Calendar */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-font-color: #52525b;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: #131420;
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #131420;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    width: 250px;
    height: 262px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 10px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.dark .calendar {
    color: #B3B3B3;
}

.calendar-inner {
    padding: 8px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 2px;
}

.calendar .calendar-inner .calendar-body div {
    padding: 2px;
    min-height: 24px;
    line-height: 20px;
    border: 1px solid transparent;
    margin: 1px 1px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
    font-size: 0.8rem;
    font-weight: 500;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 500;
}

.dark .calendar .calendar-inner .calendar-body div>a {
    color: #B3B3B3;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    padding: 6px 0px;
    border-radius: 8px;
    background: #131420;
    color: #FFF;
    width: 70%;
    margin: auto;
    font-size: 0.8rem;
}

.dark .calendar .calendar-inner .calendar-today-date {
    background: black;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 16px;
    color: #131420;
}

.dark .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.dark .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    color: #FFF;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dark .calendar .calendar-inner .calendar-body .calendar-today {
    background: black; 
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
    color: #FFF;
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: #a1a1aa;
    font-family: arial, consolas, sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 6px 0 6px 0;
}

.dark .calendar .calendar-inner .calendar-controls .calendar-next a,
.dark .calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: #a1a1aa;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 16px;
    width: 16px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.dark .calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.dark .calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: #FFF;
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: #a1a1aa;
    font-size: 0.7rem;
    font-weight: 500;
}

.dark .calendar .calendar-inner .calendar-body .prev-dates,
.dark .calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-font-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
  color: #484848;
}

/* --------------------------------- */

/* Sidebar */
.sidebar.collapsed {
    width: 105px;
}

/* Sembunyikan teks dan logo ketika sidebar collapse */
.sidebar.collapsed .text,
.sidebar.collapsed .logo, 
.sidebar.collapsed .arrow {
    display: none;
}

.sidebar.collapsed .icon {
    width: 24px;
    height: 24px;
    align-items: center;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* Tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Icon svg */
.theme-icon {
  fill: black;
}

.dark .theme-icon {
  fill: white;
}

.arrow-collapse {
    fill: black;
    stroke: black;
}

.dark .arrow-collapse {
    fill: white;
    stroke: white;
}

/* Logout Icon */
.logout-icon {
    stroke: black;
}

.dark .logout-icon {
    stroke: #EFEFEF;
}

/* icon svg learning data */
.icon .icon-ld1 {
    fill: #111A26;
}

.group:hover .icon .icon-ld1 {
    fill: white;
}

.group:hover .icon .icon-ld2 {
    fill: white;
}

.icon .icon-ld2 {
    stroke: #111A26;
}

.group:hover .icon .icon-ld2 {
    stroke: white;
}

.dark .icon .icon-ld1 {
    fill: #EFEFEF;
}

.dark .icon .icon-ld2 {
    stroke: #EFEFEF;
}

/* Icon Academic Year */
.icon-academic-year {
    stroke: #111A26;
}

.dark .icon-academic-year {
    stroke: #EFEFEF;
}
/* Icon Term */
.term-icon {
    stroke: #111A26;
}

.dark .term-icon {
    stroke: #EFEFEF;
}

/* --------------------------------- */

/* Custom Gradient Card */
.custom-gradient {
    background: linear-gradient(to right, #6BC4FF19, #6BC4FF66);
}

.dark .custom-gradient {
    background: linear-gradient(113deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.00) 111.71%);
}

/* Icon Passpay */
.icon-passpay {
    stroke: #17A1FA;
}

.dark .icon-passpay {
    stroke: #EFEFEF;
}

/* --------------------------------- */

/* Style for Tooltip */
[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 10px;
    padding: 8px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

/* Show tooltip on hover */
[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Tooltip positioning */
[data-tooltip]:hover::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    padding: 8px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
}

/* Menu Hidden State */
#menu {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

/* Menu Visible State */
#menu.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

